*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(bg-pattern-desktop.svg);
}
.text{
    width: 50%;
    height: 100vh;
    margin-left: 150px;
    margin-right: 0;
    position: static;
}
.logo{
    margin-top: 50px;
    height: 20px;
    width: 100px;
    margin-bottom: 100px;
}
h2{
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 9px;
    
}
#rosegold{
    color:rgb(224, 104, 104, 0.822);
    font-family: 'Josefin Sans',monospace;
    font-weight: lighter;   
}
p{
    color:rgb(224, 104, 104, 0.815);
    font-size: small;
    font-family: 'Josefin Sans',monospace;
    font-weight:500;
    margin-bottom: 40px;
    margin-top:30px ;    
}
.mail{
    height: 40px;
    width: 350px;
    border-radius: 50px;
    padding-left: 25px;
    border: 1px solid rgba(224, 104, 104, 0.705);
    font-family: 'Josefin Sans',monospace;
    color:rgba(224, 104, 104, 0.705);
}
button{
    height: 40px;
    width: 60px;
    font-size: larger;
    color: aliceblue;
    background-color:rgba(224, 104, 104, 0.705) ;
    border-radius: 40px;
    border: solid rgba(224, 104, 104, 0.705) ;
    position: absolute;
    top:480px;
    left: 440px;
}
.image{
    float: right;
    height:100vh;
    width: 39%;
    position: absolute;
    top: 0;
    left: 60%;
}